* {
    margin: 0;
    padding: 0;
    font-family: 'work sansd', sans-serif;
    box-sizing: border-box;
    list-style-type: none;

}

.header {
    background-image: url("./images/banner/banner1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;



}

.text-light-green {
    color: lightgreen;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.h-screen {
    height: 100vh;
}

.h-full {
    height: 100%;
}

.w-screen {
    width: 100vw;
}

.text-end {
    text-align: end;
}

.text-white {
    color: white;
}

.banner {
    align-items: center;
    margin-left: 856px;
    margin-right: 230px;

}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.h-50 {
    width: 100px;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

.pr-50 {
    padding-right: 50px;


}

.pr-150 {
    padding-right: 150px;
}

.my-25 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.mx-150 {
    margin-left: 150px;
}

.banner-title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    padding-left: 100px;
    text-align: right;

}

.flex {
    display: flex;
}


.mx-200 {
    margin-left: 200px;
    margin-right: 200px;
}

.px-200 {
    padding-left: 200px;
    padding-right: 200px;
}

.mr-150 {
    margin-right: 150px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-color-secondary {
    color: gray;
}

.allin-item-right {
    align-items: right;
}

.py {
    padding-left: 210px;

}

.pb-30 {
    padding-bottom: 30px;
}

.p-50 {
    padding: 50px;
}

.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.py-200 {
    padding-top: 200px;
    padding-bottom: 200px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pt-200 {
    padding-top: 200px;
}

.mx-15 {
    max-width: 15px;
}

.button-primary {
    color: #ffffff;
    height: 64px;
    border: 0;
    padding: 18px 36px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    background: #FD6E0A;
    border-radius: 5px;
}

.button-secondary {
    color: #444;
    height: 64px;
    border: 0;
    padding: 18px 36px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    background: #fff;
    border-radius: 5px;
}

.bg-red {
    background: red;
}

.bg-green {
    background: green;
}

.w-200 {
    width: 200px;
}

.h-200 {
    height: 200px;
}

.flex-col {
    flex-direction: column;
}

.justify-start {
    justify-content: flex-start;
}

.justify-between {
    justify-content: space-around;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.text-sm {
    font-size: .5em;
}



.text-regular {
    font-size: 1em;
}

.text-lg {
    font-size: 1.5em;
}

.text-xl {
    font-size: 2.5em;
}


.font-black {
    font-weight: 900;
}


.cover {
    background-image: url("../styles/images/watch.png");
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 20px;
}

.bg-black {
    background: #000;
}

.my-20 {
    margin-top: 25px;
    margin-bottom: 25px;
}